COUCHDB_USERNAME=moodmap
COUCHDB_PASSWORD=mood123
COUCHDB_HOST=localhost
COUCHDB_PORT=5984
DATA_DB=data
TWEETS_DB=tweets
TWITTER_CONSUMER_KEY=abc
TWITTER_CONSUMER_SECRET=abc
TWITTER_ACCESS_KEY=abc
TWITTER_ACCESS_SECRET=abc
TWEET_CACHE=5000
PYTHONUNBUFFERED=true
